<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <!-- nav -->
    <%- include('./includes/nav.ejs') %>
    <!-- end of nav -->

    <div>
      <h1>About us</h1>
      <p><%= description %></p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores est
        beatae consectetur ipsa ullam modi nesciunt deleniti tempore consequatur
        eos officiis nemo, exercitationem nostrum perferendis. Fuga, autem.
        Beatae, nulla totam?
      </p>
    </div>
  </body>
</html>
