<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact-us">Contact</a>
      </li>
    </ul>

    <div>
      <h1>Contact us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores est
        beatae consectetur ipsa ullam modi nesciunt deleniti tempore consequatur
        eos officiis nemo, exercitationem nostrum perferendis. Fuga, autem.
        Beatae, nulla totam?
      </p>
      <form action="/contact-us" method="POST">
        <input type="text" name="name" id="name" />
        <input type="text" name="email" id="email" />
        <textarea type="text" name="description" id="description"></textarea>
        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
