<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <!-- nav -->
    <%- include('./includes/nav.ejs') %>
    <!-- end of nav -->

    <div>
      <h1>Contact us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores est
        beatae consectetur ipsa ullam modi nesciunt deleniti tempore consequatur
        eos officiis nemo, exercitationem nostrum perferendis. Fuga, autem.
        Beatae, nulla totam?
      </p>
    </div>

    <form action="/contact-us" class="container" method="POST">
      <div class="form-group">
        <input type="text" name="fullname" class="form-control" />
      </div>
      <div class="form-group">
        <input type="email" name="email" class="form-control" />
      </div>
      <div class="form-group">
        <textarea
          name="description"
          id=""
          cols="30"
          rows="10"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
    </form>

    <form action="/description" method="POST">
      <button type="submit">description</button>
    </form>
  </body>
</html>
